@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 1.2rem !important;
  }
  button {
    width: 2rem !important;
    height: 2rem !important;
  }
}

@media screen and (max-width: 520px) {
  body {
    font-size: 10px !important;
  }
  button {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
}
